.view-note-header {
    font-size: 30px;
    text-align: center;
    margin: 20px;
    font-family: cursive;
}

.view-note-block {
    width: 300px;
    box-shadow: 0 5px 10px 0 black;   /* right dark, down dark, blur, spread */
    /* background-color: rgba(65, 43, 43, 0.555); */
    margin: 10px;
    list-style-type: none;
    padding: 20px;
}

.view-note-block-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.view-note-author {
    color: rgba(69, 20, 20, 0.591);
}